@import './base.css';

#app {
  max-width: 1280px;
  margin: 1rem;
  padding: 1rem;
  font-weight: normal;
  background-color: #181818;
  border-radius: 40px;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

h1 {
  padding-bottom: 1rem;
}

h3 {
  padding-bottom: 0.5rem;
  font-weight: 600;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}


@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 768px) {
  body {
    place-items: center;
    
  }
  #app {
    width: 90%;
    padding: 2rem;
    margin: 1rem 1rem;
  }

  main {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    gap: 1rem;
  }
  .widget-one{
    grid-column: 1 / span 5;
    grid-row: 1 / span 1;
  }
  .widget-two{
    grid-column: 1 / span 5;
    grid-row: 2 / span 1;
  }
  .widget-three{
    grid-column: 1 / span 5;
    grid-row: 3 / span 1;
  }
}
@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {

    padding: 2rem;
    margin: 1rem auto;
  }

  main {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(3, auto);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    gap: 1rem;
  }
  .widget-one{
    grid-column: 4 / span 2;
    grid-row: 1 / span 2;
  }
  .widget-two{
    grid-column: 4 / span 2;
    grid-row: 3 / span 1;
  }
  .widget-three{
    grid-column: 1 / span 3;
    grid-row: 1 / span 3;
  }
}